
body {
  background-image: url("./herbs.jpg");
  height: 100%; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr{
  border-color: black !important
}
 
.box-a{
  background-color: white;
  border: 1px solid black;
  height: 20px;
}

.box-b{
  background-color: green;
  height: 100%;
}

